.form_title
{
	text-align: center;
	font-size: 40px;
	color: #2C78F6;
	text-transform: uppercase;
}

.container 
{
	width: 100%;
	max-width: 1150px;
	margin: 0 auto;
}

.main_form
{
	display: flex;
	flex-direction: column;
}

#formx
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


#formx input
{

	width: 400px;
	height: 35px;
	margin-bottom: 20px;
	border-radius: 2px;
	border: 1px solid #000;
	padding-left: 20px;
	font-size: 14px;
	color: #2C78F6;

}

.form__select
{
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
}

#people
{
	display: none;
}

#org
{
	display: none;
}


#people input

{

	width: 400px;
	height: 35px;
	margin-bottom: 20px;
	border-radius: 2px;
	border: 1px solid #000;
	padding-left: 20px;
	font-size: 14px;
	color: #2C78F6;

}

#org input

{

	width: 400px;
	height: 35px;
	margin-bottom: 20px;
	border-radius: 2px;
	border: 1px solid #000;
	padding-left: 20px;
	font-size: 14px;
	color: #2C78F6;

}

#people
{
	display: none;
}

#org
{
	display: none;
}

#formx input[type="submit"]
{
	width: 300px;
	text-align: center;
	margin: 0 auto;
	border:1px solid #000;
	border-radius: 3px;
	background-color: #2C78F6;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	margin-top: 30px;
}
